.main-bg {
  height: 300px;
  background-image: url(./img/bg.png);
  background-size: cover;
  background-position: center;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.start {
  opacity : 0
}
.end {
  opacity : 1;
  transition : opacity 0.5s;
}

/* 최근본 상품 */

.recent-wrap {
  background-color: beige;
  border: 1px solid blue;
  margin-top: 20px;
  width: 200px;
  text-align: center;
}