@font-face {
  font-family: "poetsenOne";
  src: url(/public/font/PoetsenOne-Regular.ttf);
}

@font-face {
  font-family: "ZenDots";
  src: url(/public/font/ZenDots-Regular.ttf);
}
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
  z-index: -10000;
}

.col-md-6 {
  height: 300px;
}

.book , .heartDetail {
  background-color: transparent; 
   border: 0;
}

.main-bg {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 80%;
  /* z-index: -1000; */
  background: url(/public/orange-rebg.png) no-repeat center;
  background-size: cover;
}

* {
  color: #fff;
}

::-webkit-scrollbar-thumb  {
  background-color: lightblue;
}

::-webkit-scrollbar {
  display: none;
}

input {
  color: #000;
}

.comment {
  /* background-color: lightgray ; */
  /* padding: 8px 12px ; */
  padding: 4px 0;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.comment-wrap {
  padding-bottom: 20px;
}

.comment-check {
  padding-left: 12px;
  border-radius: 4px;
  border: 0;
  padding: 12px 0;
  width: 10%;
  font-weight: 700;
}

.comment-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: #fff;
}

.comment-box input {
  width: calc(90% - 12px);
  padding: 12px 0;
  border-radius: 8px;
  padding-left: 8px;
}



.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(/public/user-profile.svg) no-repeat center;
}


.template-wrap {
  padding-top: 40px;
}

.App {
  z-index: -1000;
}

.inner {
  width: 1280px;
  margin: 0px auto;
}

.footer {
  margin-top: 40px;
  /* padding: 10px 0; */
  /* text-align: left; */
}

.foot-top {
  display: flex;
  width: 1280px;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.footer .footer-a {
  text-decoration: none;
  color: #fff;
  margin-right: 48px;
}

.home-page {
  height: 100vh;
}

.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}

/* 최근본 상품 */

.recent-wrap {
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  background-color: #303030;
  /* box-shadow: 20px 20px 60px #292929, -20px -20px 60px #373737; */
  padding: 20px 0;
  border-radius: 32px;
  z-index: 999;
  
}

.row {
  /* width: 1080px; */
}

.user-sayHello {
  padding-top: 20px;
}

.home-page p {
  font-size: 20px;
}

.user-name {
  font-weight: bold;
}

.one-news {
  text-decoration: none;
  display: block;
  padding: 12px 0;
  padding-left: 8px;
  width: 100%;
  background-color: #f3f2ff;
  border-radius: 8px;
  color: #000;
  font-size: 20px;
}

/* 로딩 페이지 */

.loading-bg {
  height: 100vh;
  width: 100vw;
  background-color: #7b6bf8;
  z-index: 9999;
  position: relative;
}

.loading-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#table-bg {
  background-color: transparent;
}

table {
  margin-top: 40px;
}

.table_custom {
  --bs-table-bg: transparent !important;
  --bs-table-color: #fff !important;
}

.loading-txt p,
.loading-txt h2 {
  color: #fff;
  white-space: nowrap;
}

.loading-txt h2 {
  font-size: 60px;
  font-family: "poetsenOne";
}

/* 메인 */

.main-category {
  text-align: center;
  font-family: "ZenDots";
  position: relative;
  height: 80vh;
}

.title-group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-size: 140px;
}

.main-sub {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0px auto;
}

.main-sub p {
  font-size: 40px;
}

.reflect-font {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.scroll-info {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 28px;
  height: 40px;
}

.scroll-info::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(/public/mouse-icon.svg) no-repeat center;
  margin: 0px auto;
  animation-name: updown;
  animation-iteration-count: infinite;
  animation-duration: 0.5s; /* 애니메이션의 지속 시간 설정 */
  animation-direction: alternate; /* 애니메이션이 양방향으로 반복 */
  position: relative;
  bottom: 8px;
}

@keyframes updown {
  0% {
    bottom: 4px;
  }
  100% {
    bottom: 8px;
  }
}

.col-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-bottom: 160px; */
}

.card-item {
  width: calc((100% / 3) - 20px);
  height: auto;
  flex: 0 0 auto;
  overflow: hidden;
  padding-bottom: 60px;
}

.card-item h4, .card-item p {
  padding: 0 12px;
}

.article-content {
  height: 48px;
  overflow: hidden;
  white-space: ellipsis;
}

.book , .heartDetail {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.book::after {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(/public/book-mark-out.svg)no-repeat center;
  margin-left: 8px;
  background-size: contain;

}

.heartDetail::after{
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(/public/ph_heart-bold.svg)no-repeat center;
  background-size: contain;

  margin-left: 8px;
}

.card-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.col-title {
  font-family: "ZenDots";
  margin-bottom: 20px;
  font-size: 36px;
}

.article-title {
  margin-top: 24px;
  font-weight: 800;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.foot-bottom {
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.select-box,
.select-box option {
  color: #000;
}

.select-box {
  width: 200px;
  padding: 8px 0;
  background: transparent;
  border-radius: 4px;
  border: 2px solid #fff;

  color: #fff;
}

.article-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  color: gray;
}

.heartIcon {
  /* display: inline-block;
  width: 32px;
  height: 32px;
  background: url(/public/ph_heart-bold.svg) no-repeat center;
  background-size: contain; */
  /* padding-right: 40px; */
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.heartIcon::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(/public/ph_heart-bold.svg) no-repeat center;
  background-size: contain;
  margin-left: 12px;
}
